/build/
/out/
/CMakeFiles/
/CMakeCache.txt
/CMakeScripts/
/Makefile
/compile_commands.json
/install_manifest.txt
/cmake_install.cmake
/CTestTestfile.cmake
/CMakeLists.txt.user
/CMakeUserPresets.json
/_deps/
*.exe
*.obj
*.pdb
!src/
!include/
!data/
.vs/
